*{
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color:rgba(92, 137, 76, 1);
}

img {
    width: 260px;
    position:relative;
    right: -530px;
    top: 290px;
}

#arrow {
    
    position: relative;
    left: -680px;
    top: -300px;
}

#icon {
    width: 150px;
    transform: rotate(40deg);
}

section {
    color: rgba(177, 218, 165, 1);
    font-family:Plus Jakarta Sans;
    font-size: 20px;
    text-align:justify;
    position: relative;
    left: 190px;
    top: -100px;
    padding-bottom: 5%;

}


#abt {
    text-decoration: none;
    color: rgba(177, 218, 165, 1);
    font-size: 45px;
    font-family:Plus Jakarta Sans;
    letter-spacing: 2px;
}

#wrk {
    text-decoration: none;
    color: rgba(92, 137, 76, 1);
    font-size: 45px;
    font-family:Plus Jakarta Sans;
    letter-spacing: 2px;
}

#cntc {
    text-decoration: none;
    color: rgba(92, 137, 76, 1);
    font-size: 45px;
    font-family:Plus Jakarta Sans;
    letter-spacing: 2px;
}

div {
    /*position:fixed;
    right: 0;
    top: 0;*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}

#abtd {
    background-color: rgba(92, 137, 76, 1);
    /*padding: 15px;*/
    padding: 400px 15px 15px 15px;
    border: none;
    position:fixed;
    right: 164px;
    top: -150px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

#wrkd {
    background-color: rgba(147, 189, 124, 1);
    padding: 400px 15px 15px 15px;
    border: none;
    position:fixed;
    right: 82px;
    top: -150px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

#cntcd {
    background-color:rgba(177, 218, 165, 1);
    padding: 400px 15px 15px 15px;
    border: none;
    position:fixed;
    right:0;
    top: -150px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}